<!DOCTYPE html>
<html>

<head>
  <title>MovieReview</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>
</head>

<body>
  <div id="app">
    <%= app_header(user_signed_in?, current_user) %>
    <%= yield %>
    <%= login_modal %>
    <%= upload_modal %>
  </div>
</body>

</html>